@font-face {
    font-family: 'Inter';
       src: 
        url("../fonts/Inter/static/Inter-Bold.ttf") format("truetype"),
        url("../fonts/Inter/static/Inter-Light.ttf") format("truetype");
        font-weight: normal;
    }
        