@import url('../fonts/transfonter.org-20220814-141250/stylesheet.css');
@import url('./normalize.scss');
@import url('/node_modules/bootstrap');

aside {
    background-color: #D9D9D9;
    height: 100vh;

    b {
        display: inline-block;
        margin-bottom: 10px;
    }

    & > ul {
        padding-left: 0;

        & > ul {
            padding-left: 0;
        }  
    }

}

body {
    font-family: 'Inter';
    font-size: 16px;
    height: 100%;

    display: flex;
}

.categories {
    padding-left: 0;
    &__item {
        font-weight: 400;
        padding: 5px 20px 5px;

        a {
            display: inline-block;
            color: black!important;
            text-decoration: none;
        }
        
        &.active {
            background-color: #18C9F0;
            width: 100%;
        }

        &-parent {
            font-weight: 700;
        }

    }

    &__create {
        padding: 30px;

        text-decoration: none;
        color: blue;
    }
}

main {
    margin: auto;
}

.category-content {
    max-width: 1155px;
    margin-top: 50px;
    margin-left: 53px;
    
    &__title {
        font-weight: 700;
        font-size: 25px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    &__content {
        margin-top: 25px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px;
    }
    
    &-item {
        text-decoration: none;
        &__image {
            margin-bottom: 25px;
            width: 300px;
            height: 300px;
            object-fit:cover;
            background-position: center;
        }

        &__name, &__price {
            font-size: 16px;
            color: #000000;
        }

        &__name {
            font-weight: 700;
        }

        &__price {
            font-weight: 400;
        }
    }
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    &__image {
        width: 616px;
        height: 616px;
        object-fit:cover;
        background-position: center;
    }

    &__name, &__price {
        font-size: 25px;
        font-weight: 400;
    }

    &__name {
        font-weight: 700;
    }

    &-info {
        &__top-part {
            display: flex;
            justify-content: space-between;
        }
    }

    &__description {
        display: inline-block;
        margin-top: 60px;

        color: #000000;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
    }
}

.input-form input, textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button-to-prev{
    display: inline-block;
    margin-bottom: 61px;

    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}