@import url('../fonts/transfonter.org-20220814-141250/stylesheet.css');
@import url('./normalize.scss');
@import url('/node_modules/bootstrap');

aside {
    background-color: #D9D9D9;
    height: 100%;

    b {
        display: inline-block;
        margin-bottom: 10px;
    }

    & > ul > ul > li a {
        color: black!important;
        font-weight: 700;
    }

    
}

body {
    font-family: 'Inter';
    font-size: 16px;
    height: 100%;

    display: flex;
}

.categories {
    padding-left: 0;
    &__item {
        font-weight: 400;
        padding: 5px 20px 5px;

        a {
            display: inline-block;
            color: black!important;
            text-decoration: none;
        }
        
        &.active {
            background-color: #18C9F0;
            width: 100%;
        }
    }
}

main {
    margin: auto 55px auto 55px;
}

.category-content {
    &__title {
        font-weight: 700;
        font-size: 25px;
        margin-top: 50px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    &__content {
        margin-top: 25px;
        margin-bottom: 50px;
    }
    
    &-item {
        &__image {
            margin-bottom: 25px;
            width: 300px;
            height: 300px;
        }

        &__name, &__price {
            font-size: 16px;
        }

        &__name {
            font-weight: 700;
        }

        &__price {
            font-weight: 400;
        }
    }
}